<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="header">
		<div class="">
			<nav
				class="deep-purple accent-1"
				role="navigation">
				<div class="nav-wrapper container">
					<a id="logo-container" href="#" class="brand-logo hide-on-med-and-down"><img src="../static/img/Logo1.png" th:src="@{/img/Logo1.png}" style="width: 260px; height: 64px;"/></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="#" id="inicio">Inicio</a></li>
						<li><a href="#Servicios" id="servicios">Servicios</a></li>
						<li><a href="#Nosotros" id="nosotros">Nosotros</a></li>
						<li><a href="#Footer" id="contacto">Contacto</a></li>
						<li><a href="#" th:href="@{/signup/signupform}">Registrarse</a></li>
						<li><a href="#" th:href="@{/login}">Iniciar Sesion</a></li>
					</ul>
					<ul id="nav-mobile" class="side-nav">
						<li><a href="#" id="inicioMobile">Inicio</a></li>
						<li><a href="#Servicios" id="serviciosMobile">Servicios</a></li>
						<li><a href="#Nosotros" id="nosotrosMobile">Nosotros</a></li>
						<li><a href="#Footer" id="contactoMobile">Contacto</a></li>
						<li><a href="#" th:href="@{/signup/signupform}">Registrarse</a></li>
						<li><a href="#" th:href="@{/login}">Iniciar Sesion</a></li>
					</ul>
					<a href="#" data-activates="nav-mobile" class="button-collapse"><i
						class="material-icons">menu</i></a>
				</div>
			</nav>
		</div>
	</div>
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>
</body>
</html>
