<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="sliderindex">
		<div class="section no-pad">
			<div class="slider">
				<ul class="slides">
					<li><img class="slideimg"
						src="../static/img/photos/photo1.jpg"
						th:src="@{/img/photos/photo1.jpg}"/>
						<div class="row caption center-align">
							<h1 class="header center black-text hide-on-med-and-down">
								<b>Bienvenido a Bambino Care</b>
							</h1>
							<h3 class="header center black-text hide-on-large-only">
								<b>Bienvenido a Bambino Care</b>
							</h3>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='#Servicios'"
									style="font-size: 2em; border: 0px;  margin-top: 1em; width:100%">
									Servicios </button>
							</div>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#" th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='/login'"
									style="font-size: 2em; border: 0px; margin-top: 0.5em; width:100%">
									Iniciar sesion </button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo2.jpg"
						th:src="@{/img/photos/photo2.jpg}" style="" />
						<div class="row caption center-align">
							<h1 class="header center black-text hide-on-med-and-down">
								<b>Bienvenido a Bambino Care</b>
							</h1>
							<h3 class="header center black-text hide-on-large-only">
								<b>Bienvenido a Bambino Care</b>
							</h3>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='#Servicios'"
									style="font-size: 2em; border: 0px;  margin-top: 1em; width:100%">
									Servicios </button>
							</div>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#" th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='/login'"
									style="font-size: 2em; border: 0px; margin-top: 0.5em; width:100%">
									Iniciar sesion </button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo3.jpg"
						th:src="@{/img/photos/photo3.jpg}" style="" />
						<div class="row caption center-align">
							<h1 class="header center black-text hide-on-med-and-down">
								<b>Bienvenido a Bambino Care</b>
							</h1>
							<h3 class="header center black-text hide-on-large-only">
								<b>Bienvenido a Bambino Care</b>
							</h3>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='#Servicios'"
									style="font-size: 2em; border: 0px;  margin-top: 1em; width:100%">
									Servicios </button>
							</div>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#" th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='/login'"
									style="font-size: 2em; border: 0px; margin-top: 0.5em; width:100%">
									Iniciar sesion </button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo4.jpg"
						th:src="@{/img/photos/photo4.jpg}" style="" />
						<div class="row caption center-align">
							<h1 class="header center black-text hide-on-med-and-down">
								<b>Bienvenido a Bambino Care</b>
							</h1>
							<h3 class="header center black-text hide-on-large-only">
								<b>Bienvenido a Bambino Care</b>
							</h3>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='#Servicios'"
									style="font-size: 2em; border: 0px;  margin-top: 1em; width:100%">
									Servicios </button>
							</div>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#" th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='/login'"
									style="font-size: 2em; border: 0px; margin-top: 0.5em; width:100%">
									Iniciar sesion </button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo5.jpg"
						th:src="@{/img/photos/photo5.jpg}" style="" />
						<div class="row caption center-align">
							<h1 class="header center black-text hide-on-med-and-down">
								<b>Bienvenido a Bambino Care</b>
							</h1>
							<h3 class="header center black-text hide-on-large-only">
								<b>Bienvenido a Bambino Care</b>
							</h3>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='#Servicios'"
									style="font-size: 2em; border: 0px;  margin-top: 1em; width:100%">
									Servicios </button>
							</div>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#" th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='/login'"
									style="font-size: 2em; border: 0px; margin-top: 0.5em; width:100%">
									Iniciar sesion </button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo6.jpg"
						th:src="@{/img/photos/photo6.jpg}" style="" />
						<div class="row caption center-align">
							<h1 class="header center black-text hide-on-med-and-down">
								<b>Bienvenido a Bambino Care</b>
							</h1>
							<h3 class="header center black-text hide-on-large-only">
								<b>Bienvenido a Bambino Care</b>
							</h3>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='#Servicios'"
									style="font-size: 2em; border: 0px;  margin-top: 1em; width:100%">
									Servicios </button>
							</div>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#" th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='/login'"
									style="font-size: 2em; border: 0px; margin-top: 0.5em; width:100%">
									Iniciar sesion </button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo7.jpg"
						th:src="@{/img/photos/photo7.jpg}" style="" />
						<div class="row caption center-align">
							<h1 class="header center black-text hide-on-med-and-down">
								<b>Bienvenido a Bambino Care</b>
							</h1>
							<h3 class="header center black-text hide-on-large-only">
								<b>Bienvenido a Bambino Care</b>
							</h3>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='#Servicios'"
									style="font-size: 2em; border: 0px;  margin-top: 1em; width:100%">
									Servicios </button>
							</div>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#" th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='/login'"
									style="font-size: 2em; border: 0px; margin-top: 0.5em; width:100%">
									Iniciar sesion </button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo8.jpg"
						th:src="@{/img/photos/photo8.jpg}" style="" />
						<div class="row caption center-align">
							<h1 class="header center black-text hide-on-med-and-down">
								<b>Bienvenido a Bambino Care</b>
							</h1>
							<h3 class="header center black-text hide-on-large-only">
								<b>Bienvenido a Bambino Care</b>
							</h3>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='#Servicios'"
									style="font-size: 2em; border: 0px;  margin-top: 1em; width:100%">
									Servicios </button>
							</div>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#" th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='/login'"
									style="font-size: 2em; border: 0px; margin-top: 0.5em; width:100%">
									Iniciar sesion </button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo9.jpg"
						th:src="@{/img/photos/photo9.jpg}" style="" />
						<div class="row caption center-align">
							<h1 class="header center black-text hide-on-med-and-down">
								<b>Bienvenido a Bambino Care</b>
							</h1>
							<h3 class="header center black-text hide-on-large-only">
								<b>Bienvenido a Bambino Care</b>
							</h3>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='#Servicios'"
									style="font-size: 2em; border: 0px;  margin-top: 1em; width:100%">
									Servicios </button>
							</div>
							<div class="col s12 m6">
								<a class="black white-text hide-on-med-and-down" href="#" th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only" onclick="location.href='/login'"
									style="font-size: 2em; border: 0px; margin-top: 0.5em; width:100%">
									Iniciar sesion </button>
							</div>
						</div></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>