<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="sliderindex">
		<div class="section no-pad">
			<div class="slider">
				<ul class="slides">
					<li><img class="slideimg"
						src="../static/img/photos/photo1.jpg"
						th:src="@{/img/photos/photo1.jpg}" />
						<div class="row caption vcenter">
							<h2 class="header center black-text index-title">
								<b>Bienvenido a Bambino Care</b>
							</h2>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down"
									href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='#Servicios'">Servicios</button>
							</div>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down" href="#"
									th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='/login'">
									Iniciar sesion</button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo2.jpg"
						th:src="@{/img/photos/photo2.jpg}"/>
						<div class="row caption vcenter">
							<h2 class="header center black-text index-title">
								<b>Bienvenido a Bambino Care</b>
							</h2>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down"
									href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='#Servicios'">Servicios</button>
							</div>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down" href="#"
									th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='/login'">Iniciar sesion</button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo3.jpg"
						th:src="@{/img/photos/photo3.jpg}" />
						<div class="row caption vcenter">
							<h2 class="header center black-text index-title">
								<b>Bienvenido a Bambino Care</b>
							</h2>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down"
									href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='#Servicios'">Servicios</button>
							</div>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down" href="#"
									th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='/login'">Iniciar sesion</button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo4.jpg"
						th:src="@{/img/photos/photo4.jpg}"/>
						<div class="row caption vcenter">
							<h2 class="header center black-text index-title">
								<b>Bienvenido a Bambino Care</b>
							</h2>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down"
									href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='#Servicios'">Servicios</button>
							</div>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down" href="#"
									th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='/login'">Iniciar sesion</button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo5.jpg"
						th:src="@{/img/photos/photo5.jpg}"/>
						<div class="row caption vcenter">
							<h2 class="header center black-text index-title">
								<b>Bienvenido a Bambino Care</b>
							</h2>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down"
									href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='#Servicios'">
									Servicios</button>
							</div>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down" href="#"
									th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='/login'">
									Iniciar sesion</button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo6.jpg"
						th:src="@{/img/photos/photo6.jpg}" />
						<div class="row caption vcenter">
							<h2 class="header center black-text index-title">
								<b>Bienvenido a Bambino Care</b>
							</h2>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down"
									href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='#Servicios'">
									Servicios</button>
							</div>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down" href="#"
									th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='/login'">
									Iniciar sesion</button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo7.jpg"
						th:src="@{/img/photos/photo7.jpg}" />
						<div class="row caption vcenter">
							<h2 class="header center black-text index-title">
								<b>Bienvenido a Bambino Care</b>
							</h2>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down"
									href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='#Servicios'">
									Servicios</button>
							</div>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down" href="#"
									th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='/login'">
									Iniciar sesion</button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo8.jpg"
						th:src="@{/img/photos/photo8.jpg}"/>
						<div class="row caption vcenter">
							<h2 class="header center black-text index-title">
								<b>Bienvenido a Bambino Care</b>
							</h2>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down"
									href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='#Servicios'">
									Servicios</button>
							</div>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down" href="#"
									th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='/login'">
									Iniciar sesion</button>
							</div>
						</div></li>
					<li><img class="slideimg"
						src="../static/img/photos/photo9.jpg"
						th:src="@{/img/photos/photo9.jpg}" />
						<div class="row caption vcenter">
							<h2 class="header center black-text index-title">
								<b>Bienvenido a Bambino Care</b>
							</h2>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down"
									href="#Servicios"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Nuestros Servicios </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='#Servicios'">
									Servicios</button>
							</div>
							<div class="col s12 m6 center-align">
								<a class="black white-text hide-on-med-and-down" href="#"
									th:href="@{/login}"
									style="font-size: 30px; border: 0px; padding: 25px;">
									Iniciar sesion </a>
								<button class="black white-text hide-on-large-only index-btn"
									onclick="location.href='/login'">
									Iniciar sesion</button>
							</div>
						</div></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>