<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bambino - Add/modify nanny</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h1>nanny Form</h1>
			<br />
			<form action="#" th:action="@{/nannies/editnanny}" th:object="${nanny}"
				method="post">
				
				<input type="hidden" th:field="*{idNanny}" />
				<input type="hidden" th:field="*{user.idUser}" />
				
				Nombre: <input type="text"
					class="form-control" th:field="*{user.name}" th:value="${user == null ? '' : user.name }"></input>
				<br /> 
				
				Apellido: <input type="text"
					class="form-control" th:field="*{user.lastname}" th:value="${user == null ? '' : user.lastname}"></input>
				<br /> 
				
				Email: <input
					type="text" class="form-control" th:field="*{user.email}"
					th:value="${user == null ? '' : user.email}"></input> 
				<br /> 
				
				Telefono: <input
					type="text" class="form-control" th:field="*{user.telephone}"
					th:value="${user == null ? '' : user.telephone}"></input> 
				<br /> 
				
				Contraseña: <input
					type="text" class="form-control" th:field="*{user.password}"
					th:value="${user == null ? '' : user.password}"></input> 
				<br /> 
				
				
				Edad: <input type="text"
					class="form-control" th:field="*{age}" th:value="${age}"></input>
				<br /> 
				
				Calle: <input
					type="text" class="form-control" th:field="*{street}"
					th:value="${street}"></input> 
				<br /> 
				
				Colonia: <input
					type="text" class="form-control" th:field="*{suburb}"
					th:value="${suburb}"></input> 
				<br /> 
				
				Municipio: <input
					type="text" class="form-control" th:field="*{town}"
					th:value="${town}"></input> 
				<br /> 
				Estado: <input type="text"
					class="form-control" th:field="*{state}" th:value="${state}"></input>
				<br /> 
				
				Grado de estudios: <input type="text"
					class="form-control" th:field="*{studyLevel}" th:value="${studyLevel}"></input>
				<br /> 
				
				Lugar de estudios: <input
					type="text" class="form-control" th:field="*{studyPlace}"
					th:value="${studyPlace}"></input> 
				<br /> 
				
				Capacitación y certificación: <input
					type="text" class="form-control" th:field="*{capacitationCertification}"
					th:value="${capacitationCertification}"></input> 
				<br /> 
				
				Cualidades: <input
					type="text" class="form-control" th:field="*{qualitie}"
					th:value="${qualitie}"></input> 
				<br /> 
				
				
				Pasatiempos: <input
					type="text" class="form-control" th:field="*{hobby}"
					th:value="${hobby}"></input> 
				<br /> 
				
				Razones Bambino: <input
					type="text" class="form-control" th:field="*{bambinoReason}"
					th:value="${bambinoReason}"></input> 
				<br /> 
				
				Razones Niños: <input
					type="text" class="form-control" th:field="*{childrenReason}"
					th:value="${childrenReason}"></input> 
				<br />
				
				Observaciones: <input
					type="text" class="form-control" th:field="*{observation}"
					th:value="${observation}"></input> 
				<br /> 
				
				<select class="form-control" id="rol" th:field="*{user.rol.idRol}">
					<option th:each="rol : ${roles}" th:value="${rol.idRol}"
						th:text="${rol.rolDesc}"></option>
				</select>
				
				<input type="file" accept="image/*" th:field="*{ife}"
					th:value="${ife}"></input> 
				
				<input type="file" accept="image/*"
					th:field="*{curp}" th:value="${curp}"></input> 
				
				<input type="file"
					accept="image/*" th:field="*{collegeDegree}" th:value="${collegeDegree}"></input>
				
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Accept
				</button>
			</form>
			<a th:href="@{/users/cancel}">
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					Cancel
				</button>
			</a>
		</div>
	</div>

</body>
</html>