<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bambino - Add/modify nanny</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="jumbotron">
		<div class="container">
			<h1>nanny Form</h1>
			<br />
			<form action="#" th:action="@{/nannies/createnanny}"
				th:object="${nanny}" method="post">

				<input type="hidden" th:field="*{user.enabled}" value="true"/>
				
				Nombre: <input type="text" class="form-control"
					th:field="*{user.firstname}"
					th:value="${user == null ? '' : user.firstname }" required="required"></input> <br />

				Apellido: <input type="text" class="form-control"
					th:field="*{user.lastname}"
					th:value="${user == null ? '' : user.lastname}" required="required"></input> <br />

				Email: <input type="email" class="form-control"
					th:field="*{user.email}"
					th:value="${user == null ? '' : user.email}" required="required"></input> <br />

				Telefono: <input type="text" class="form-control"
					th:field="*{user.phone}"
					th:value="${user == null ? '' : user.phone}" required="required"></input> <br />

				Contraseña: <input type="text" class="form-control"
					th:field="*{user.password}"
					th:value="${user == null ? '' : user.password}" required="required"></input> <br />


				Edad: <input type="text" class="form-control" th:field="*{age}"
					th:value="${age}"></input> 
					<br /> 
					
				Calle: <input type="text"
					class="form-control" th:field="*{street}" th:value="${street}" required="required"></input>
				<br /> 
				
				Colonia: <input type="text" class="form-control"
					th:field="*{neighborhood}" th:value="${neighborhood}" required="required"></input> <br />

				Municipio: <input type="text" class="form-control"
					th:field="*{city}" th:value="${city}" required="required"></input> <br /> 
				
				Estado: <input
					type="text" class="form-control" th:field="*{state}"
					th:value="${state}" required="required"></input> <br /> 
					
				Grado de estudios: <input
					type="text" class="form-control" th:field="*{degree}"
					th:value="${degree}" required="required"></input> <br /> 
					
				Lugar de estudios: <input
					type="text" class="form-control" th:field="*{school}"
					th:value="${school}" required="required"></input> <br /> 
					
				Capacitación y
				certificación: <input type="text" class="form-control"
					th:field="*{course}"
					th:value="${course}" required="required"></input> <br />

				Cualidades: <input type="text" class="form-control"
					th:field="*{qualities}" th:value="${qualities}" required="required"></input> <br />


				Pasatiempos: <input type="text" class="form-control"
					th:field="*{hobbies}" th:value="${hobbies}" required="required"></input> <br /> 
					
				Razones Bambino: <input type="text" class="form-control"
					th:field="*{bambinoReason}" th:value="${bambinoReason}" required="required"></input> <br />

				Razones Niños: <input type="text" class="form-control"
					th:field="*{childrenReason}" th:value="${childrenReason}" required="required"></input>
				<br /> 
				
				Observaciones: <input type="text" class="form-control"
					th:field="*{comments}" th:value="${comments}" required="required"></input> <br />

				<select class="form-control" id="rol" th:field="*{user.rol.roleId}">
					<option th:each="rol : ${roles}" th:value="${rol.roleId}"
						th:text="${rol.roleDesc}"></option>
				</select> 
				
				<input type="file" accept="image/*" th:field="*{ifeFile}"
					th:value="${ifeFile}"></input> 
				
				<input type="file" accept="image/*"
					th:field="*{curpFile}" th:value="${curpFile}"></input> 
				
				<input type="file"
					accept="image/*" th:field="*{degreeFile}" th:value="${degreeFile}"></input>

				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Accept
				</button>
			</form>

			<a th:href="@{/nannies/cancel}">
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					Cancel
				</button>
			</a>
		</div>
	</div>

</body>
</html>