<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Bambino</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div class="">
    <nav class="pushpin-demo-nav pinned deep-purple accent-1 posi" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Inicio</a></li>
          <li><a href="#Servicios">Servicios</a></li>
          <li><a href="#Nosotros">Nosotros</a></li>
          <li><a href="#Footer">Contacto</a></li>
          <li><a href="htm/Registrarse.html">Registrarse</a></li>
          <li><a href="htm/IniciarSesion.html">Iniciar Sesion</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav white">
          <li><a href="#">Inicio</a></li>
          <li><a href="#Servicios">Servicios</a></li>
          <li><a href="#Nosotros">Nosotros</a></li>
          <li><a href="#Footer">Contacto</a></li>
          <li><a href="#">Registrarse</a></li>
          <li><a href="htm/IniciarSesion.html">Iniciar Sesion</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br><br><br><br><br><br><br>
        <h1 class="header center">¿Por qué escoger Bambino Care?</h1>
        <div class="row center">
          <h5 class="header col s12 light">Bambino Care y Bambino Events cuenta con especialistas en educación y
            cuidado infantil altamente capacitadas</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="img/home2.jpg" alt="Unsplashed background img 1"></div>
  </div>

<div id="Servicios" class="hr row transparent"></div>

  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <h4 class="center">Servicios</h4>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">child_care</i></h2>
            <h5 class="center">Bambino Care</h5>

            <p class="light">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
          Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">event</i></h2>
            <h5 class="center">Bambino Events</h5>

            <p class="light">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
          Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">local_library</i></h2>
            <h5 class="center">Tutorías</h5>

            <p class="light">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
            Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
          Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/home.jpg" alt="Unsplashed background img 2"></div>
  </div>
  <div id="Nosotros" class="hr row transparent"></div>
  <div class="container">
    <div class="section">
      <div class="row">
          <h4 class="center">Nosotros</h4>
          <div class="col s12 m6">
              <div class="icon-block">
                <h5 class="center">Objetivo</h5>

                <p class="light">Ser empresa líder en el cuidado personal y emocional de los niños, brindar apoyo
                  académico y representar una guía en la formación.</p>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="icon-block">
                <h5 class="center">Misión</h5>

                <p class="light">Representar un apoyo en las familias del hoy, llevando hasta la comodidad de su hogar
                  a las mejores niñeras y educadoras, para apoyar en las actividades académicas y emocionales de los
                  seres más importantes de las familias: Los hijos.</p>
              </div>
            </div>
      </div>

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Descripcion</h4>
          <p class="left-align light">
              Conocemos la importancia del cuidado de los niños y la preocupación que representa el dejar a los
              hijos en el cuidado de personas que no son familiares. Por lo que ofrecemos servicios de Babysitter y
              tutorías hasta la puerta de tu hogar, para facilitar el desarrollo educativo y emocional óptimo de los
              niños.

              Así mismo, conocemos que existen ocasiones en las que tienes eventos en los que deseas que tus hijos te
              acompañen, sin embargo tienes miedo a no disfrutar el momento debido a que tienes que poner total atención
              en ellos. Es por eso que nace Bambino Events, el cual te permite contratar Babysitters para tus eventos,
              en el cual se compromete a proporcionar actividades lúdicas e interesantes durante el evento. Y lo mejor
              de todo, es que sólo se necesita un pequeño espacio.

          </p>
        </div>
      </div>

    </div>
  </div>

  <footer id="Footer" class="page-footer deep-purple lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contactanos</h5>
          <p class="grey-text text-lighten-4">Para cualquier duda o sugerencias pudes contactarnos:</p>
          <p><i class="material-icons">email</i><br>bambino_mail@gmail.com</p>
          <p><i class="material-icons">call</i><br>8182-8384</p>

        </div>
        <div class="col l3 offset-l2 s12">
          <h5 class="white-text">Redes Sociales</h5>
          <ul>
            <li><a class="white-text" href="#!">Facebook</a></li>
            <li><a class="white-text" href="#!">Twiter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          © 2014 Copyright
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
