<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1;text/html; charset=UTF-8"
	http-equiv="Content-Type"/>
<title>BambinoCare</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link href="../static/css/materialize.css"
	th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>

	<div th:include="/unsecure/fragments/header :: header"></div>

	<div class="section1 ">
		<div class="">
			<br /><br />
			<div class="row">
				<div class="col s4"></div>
				<form class="col white col s4" th:action="@{/logincheck}"
					method="POST">
					<input type="hidden" name="${csrf.parametername}"
						value="${_csrf.token}" />
					<div class="row center black-text">
							<h4>Inicio de Sesion</h4>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<input type="text" class="validate black-text" name="email"
								id="email" /> <label for="email">Email</label>
						</div>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<input type="password" class="validate black-text"
								name="password" id="password" /> <label for="Contraseña">Contraseña</label>
						</div>
					</div>

					<div class="row">
						<button
							class="btn waves-effect waves-light right-align deep-purple accent-2"
							type="submit" name="action">Enviar</button>
					</div>
					<br />
					<br />
					<div class="row right-align">
						<a href="#" class="black-text hoverable" th:href="@{/recoverypasswordform}">Se me olvidó mi contraseña</a>
					</div>
				</form>
				<div class="col s1"></div>
			</div>
		</div>
	</div>

	<!--  Scripts-->
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/materialize.js"
		th:src="@{/js/materialize.js}"></script>
	<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>
	<script th:inline="javascript">
	$(function() {
		  $('#error')
		    .show(1000, function() {
		      Materialize.toast([[${error}]],4000,'rounded waves-effect');
		    });
		});
	</script>

</body>
</html>
