<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>BambinoCare</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link href="../static/css/materialize.css"
	th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body class="section1">

	<div th:include="/unsecure/fragments/header :: header"></div>

	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">

			<div class="row">
				<br /> <br />
			</div>
			<div class="row">
				<div class="col s4"></div>
				<form id="recoveryform" class="col s4 white pad z-depth-5" th:action="@{/recoverypassword}"
					method="POST" th:object="${user}">
					<div class="row center black-text">
						<h4>Recuperar Contraseña</h4>
					</div>

					<div class="row">
						<div class="input-field col s12">
							<input type="text" class="validate black-text" name="email"
								id="email" th:field="*{email}" th:value="${email}" /> <label
								for="email">Email</label>
						</div>
					</div>

					<div class="row">
						<button id="sendbutton"
							class="btn waves-effect waves-light right-align deep-purple accent-2"
							type="submit" name="action">Enviar</button>
					</div>
					<br /> <br />
				</form>
				<div class="col s1"></div>
				<div th:if="${error != null}" id="error"></div>
				<div th:if="${result != null}" id="success"></div>
			</div>
		</div>
	</div>

	<!--  Scripts-->
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/materialize.js"
		th:src="@{/js/materialize.js}"></script>
	<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>


	<script th:inline="javascript">
	$(function() {
		  $('#error')
		    .show(1000, function() {
		      Materialize.toast([[${error}]],4000,'rounded waves-effect');
		    });
		  $('#success')
		    .show(1000, function() {
		      Materialize.toast([[${result}]],4000,'rounded waves-effect');
		    });

		  $('#recoveryform').bind('submit', function (e) {
			  	console.log('Entra');
			    var sendbutton = $('#sendbutton');

			    sendbutton.prop('disabled', true);
			});
		});
	</script>
</body>
</html>
