<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1;text/html; charset=UTF-8"
	http-equiv="Content-Type" />
<title>Bambino</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link href="../static/css/materialize.css"
	th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>

	<div th:include="/unsecure/fragments/header :: header"></div>

	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">
			<div class="row container">
				<form class="white pad" action="#" id="form"
					th:action="@{/signup/createuserclient}" th:object="${client}"
					method="post">
					<div class="center grey-text text-darken-3">
						<p>
						<h5>Registro</h5>
						</p>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<input id="first_name" type="text" class="validate black-text"
								th:field="*{user.name}"
								th:value="${user == null ? '' : user.name }"
								th:required="required" /> <label for="first_name">Nombre</label>
						</div>
						<div class="input-field col s6">
							<input id="last_name" type="text" class="validate black-text"
								th:field="*{user.lastname}"
								th:value="${user == null ? '' : user.lastname}"
								th:required="required" /> <label for="last_name">Apellidos</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s3">
							<input id="street_num" type="text" class="validate black-text"
								th:field="*{street}" th:value="${street}" th:required="required" />
							<label for="street_num">Calle - Numero</label>
						</div>
						<div class="input-field col s3">
							<input id="neighborhood" type="text" class="validate black-text"
								th:field="*{suburb}" th:value="${suburb}" th:required="required" />
							<label for="neighborhood">Colonia</label>
						</div>
						<div class="input-field col s3">
							<input id="city" type="text" class="validate black-text"
								th:field="*{town}" th:value="${town}" th:required="required" />
							<label for="city">Municipio</label>
						</div>
						<div class="input-field col s3">
							<input id="state" type="text" class="validate black-text"
								th:field="*{state}" th:value="${state}" th:required="required" />
							<label for="state">Estado</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s4">
							<input id="Municipio" type="text" class="validate black-text"
								th:field="*{employment}" th:value="${employment}"
								th:required="required" /> <label for="Municipio">Ocupación</label>
						</div>
						<div class="input-field col s4">
							<input id="Telefono" type="number" class="validate black-text"
								th:field="*{user.telephone}"
								th:value="${user == null ? '' : user.telephone}"
								th:required="required" /> <label for="Telefono">Telefono</label>
						</div>
						<div class="input-field col s4">
							<input id="email" type="email" class="validate black-text"
								th:field="*{user.email}"
								th:value="${user == null ? '' : user.email}"
								th:required="required" /> <label for="email">Email</label>
						</div>
					</div>
					<div class="input-field col s4">
						<input id="password" type="password" class="validate black-text"
							th:field="*{user.password}"
							th:value="${user == null ? '' : user.password}"
							th:required="required" /> <label for="password">Contraseña</label>
					</div>
					<!-- div class="input-field col s4">
                  <input id="password2" type="password" class="validate black-text" required>
                  <label for="password2">Confirmar Contraseña</label>
                </div-->

					<div class="row">

						<div class="col s10 red-text" th:if="${error != null}" role="alert" th:text="${error}">Error</div>
						<div th:if="${result == '1'}">
							<div class="col s10 blue-text" >Registrado exitosamente!</div>
							
							<div class="col s10 black-text">
							<p>*Tu perfil sera validado, una vez que se haya aprobado te
								llegara un correo electronico y podras iniciar sesion.</p>
							</div>
						</div>
						<div class="col s10 red-text" th:if="${result == '0'}">No se pudo registrar el usuario</div>

						
						<div class="col offset-s10 s2 right-align ">
							<button
								class="btn waves-effect waves-light right-align deep-purple accent-2"
								type="submit" name="action">Enviar</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="parallax">
			<img src="../static/img/home2.jpg" th:src="@{/img/home2.jpg}"
				alt="Unsplashed background img 1" />
		</div>
	</div>

	<!--  Scripts-->
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/materialize.js"
		th:src="@{/js/materialize.js}"></script>
	<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>

</body>
</html>
