<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<link type="text/css" rel="stylesheet"
	href="../static/css/materialize.min.css"
	th:href="@{/css/materialize.min.css}" media="screen,projection" />

<meta charset="UTF-8" name="viewport"
	content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<header>
		<nav class="nav-extended deep-purple accent-1">
			<div th:include="/secure/client/fragments/header :: header(${usernameLogged})"></div>
			<div class="nav-content">
				<ul class="tabs tabs-transparent">
					<li class="tab"><a class="active" href="#Reservaciones">Mis
							Reservaciones</a></li>
					<li class="tab"><a href="#MiPerfil">Mi Perfil</a></li>
					<li class="tab"><a href="#MisBambinos">Mis Bambinos</a></li>
					<li class="tab"><a href="#Contactos">Contactos</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<div>
		<div id="Reservaciones" class="col s12">
			<div class="row">
				<div class="col s2"></div>
				<div class="col s8 center">
					<h5>Mis Reservaciones</h5>
				</div>
				<div class="col s2">
					<br /> <a href="#" th:href="@{/users/createbookingform}"
						class="btn-floating deep-purple lighten-1 btn-large"><i
						class="material-icons">add</i></a>
				</div>
			</div>

			<div class="row">
				<div class="col s1"></div>
				<div class="col s10">
					<table
						class="bordedeep-purple lighten-1 highlight centelight-blue centered accent-4 responsive-table">
						<thead>
							<tr>
								<th></th>
								<th>Usuario</th>
								<th>Tipo de Reservación</th>
								<th>Fecha</th>
								<th>Hora</th>
								<th>Duración</th>
								<th>Estatus</th>
								<th>Nanny</th>
								<th>Costo</th>
								<th>Tutorias</th>
								<th>Eventos</th>
								<th colspan="2" align="left">Acciones</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="booking : ${bookings}">
								<td>
									<form th:action="@{/users/showbookingdetail}" method="POST">
										<input type="hidden" name="bookingId"
											th:value="${booking.bookingId}" /> 
										<button type="submit"
											class="btn-floating deep-purple lighten-1" >
											<i class="material-icons">event_note</i>
										</button>
									</form>
								</td>
								<td
									th:text="${booking.client == null ? '' : booking.client.user.firstname} "></td>
								<td
									th:text="${booking.bookingType == null ? '' : booking.bookingType.bookingTypeDesc}"></td>
								<td th:text="${booking.date}"></td>
								<td th:text="${booking.hour}"></td>
								<td th:text="${booking.duration}"></td>
								<td
									th:text="${booking.bookingStatus == null ? '' : booking.bookingStatus.bookingStatusDesc}"></td>
								<td
									th:text="${booking.nanny == null ? '' : booking.nanny.user.firstname}"></td>
								<td th:text="${booking.cost}"></td>
								<td th:text="${booking.tutory}"></td>
								<td th:text="${booking.event}"></td>
								<td><a href="#" class="btn-floating deep-purple lighten-1"
									th:href="@{/users/editbookingform?bookingId=__${booking.bookingId}__}">
										<i class="material-icons">edit</i>
								</a></td>
								<td><form th:action="@{/users/cancelbooking}" method="post">
										<input type="hidden" name="idbooking"
											th:value="${booking.bookingId}" />
										<button type="submit"
											class="btn-floating deep-purple lighten-1">
											<i class="material-icons">delete</i>
										</button>
									</form></td>

							</tr>
						</tbody>
					</table>
				</div>
				<div class="col s1"></div>
				<div id="error" th:if="${error != null}"></div>
				<div id="success" th:if="${result != null}"></div>
			</div>
		</div>
		<!-- User Profile -->
		<div id="MiPerfil" class="container">
			<div class="row">
				<div class="col s10">
					<br />
					<h5>Datos Personales</h5>
				</div>
				<div class="col s2">
					<br /> <a id="editPerfil"
						class="btn-floating deep-purple lighten-1 btn-large"><i
						class="material-icons">edit</i></a>
				</div>
			</div>

			<div class="row">
				<form class="col s12 white" th:action="@{/users/edituser}"
				th:object="${client}" method="post" name="clientform">
					<div class="row">
						<div class="input-field col s6">
						<input type="hidden" th:value="${clientId}" th:field = "*{clientId}"/>
							<input id="nombre" type="text" class="validate black-text"
								required="required" disabled="disabled" th:value="${client.user.firstname}" th:field = "*{user.firstname}"/> 
								<label for="first_name">Nombre</label>
						</div>
						<div class="input-field col s6">
							<input id="last_name" type="text" class="validate black-text"
								required="required" disabled="disabled" th:value="${client.user.lastname}" th:field = "*{user.lastname}" /> 
								<label for="last_name">Apellidos</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s3">
							<input id="street_num" type="text" class="validate black-text"
								required="required" disabled="disabled" th:value="${street}" th:field = "*{street}" /> 
								<label for="street_num">Calle - Numero</label>
						</div>
						<div class="input-field col s3">
							<input id="neighborhood" type="text" class="validate black-text"
								required="required" disabled="disabled" th:value="${neighborhood}" th:field = "*{neighborhood}" /> 
								<label for="neighborhood">Colonia</label>
						</div>
						<div class="input-field col s3">
							<input id="city" type="text" class="validate black-text"
								required="required" disabled="disabled" th:value="${city}" th:field = "*{city}" /> 
								<label for="city">Municipio</label>
						</div>
						<div class="input-field col s3">
							<input id="state" type="text" class="validate black-text"
								required="required" disabled="disabled" th:value="${state}" th:field = "*{state}" /> 
								<label for="state">Estado</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s4">
							<input id="job" type="text" class="validate black-text"
								required="required" disabled="disabled" th:value="${job}" th:field = "*{job}" /> 
								<label for="job">Ocupación</label>
						</div>
						<div class="input-field col s4">
							<input id="phone" type="number" class="validate black-text"
								required="required" disabled="disabled" th:value="${client.user.phone}" th:field = "*{user.phone}" /> 
								<label for="phone">Telefono</label>
						</div>
						<div class="input-field col s4">
							<input id="email" type="email" class="validate black-text"
								required="required" disabled="disabled" th:value="${client.user.email}" th:field = "*{user.email}" /> 
								<label for="email">Email</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s3">
							<input id="nombre" type="password" class="validate black-text"
								required="required" disabled="disabled" th:value="${client.user.password}" th:field = "*{user.password}" /> 
								<label for="password">Contraseña</label>
						</div>
						<div class="input-field col s3">
							<input id="last_name" type="password" class="validate black-text"
								required="required" disabled="disabled" th:value="${client.user.password}" th:field = "*{user.passwordConfirm}" /> 
								<label for="password">Confirmar Contraseña</label>
						</div>
						<div class="input-field col s6 rigth-align">
							<a id="cancel" th:href="@{/users/cancel}"
								class="btn waves-effect waves-light deep-purple lighten-1 blk">Cancelar</a>
							<button id="save"
								class="btn waves-effect waves-light deep-purple lighten-1 blk"
								type="submit" name="action">Guardar</button>
						</div>
					</div>
				</form>
			</div>

		</div>
		<!-- MisBambinos -->
		<div id="MisBambinos" class="container">
			<div class="row">
				<div class="col s10">
					<br />
					<h5>Mis Bambinos</h5>
				</div>
				<div class="col s2">
					<br /> 
					<a id="editPerfil" th:href="@{/users/createbambinoform}" 
					class="btn-floating deep-purple lighten-1 btn-large">
						<i class="material-icons">add</i>
					</a>
				</div>
			</div>
			<div class="row">
			<table class="bordedeep-purple lighten-1 highlight centelight-blue centered accent-4 responsive-table">
                <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Edad</th>
                      <th>Grado Escolar</th>
                      <th>Situacion Medica</th>
                      <th>Observaciones</th>
                      <th>Editar</th>
                      <th>Borrar</th>
                  </tr>
                </thead>
                <tbody>
					<tr th:each="bambino : ${bambinos}">
						<td th:text="${bambino.firstname}"></td>
						<td th:text="${bambino.lastname}"></td>
						<td th:text="${bambino.age}"></td>
						<td th:text="${bambino.grade}"></td>
						<td th:text="${bambino.medicalSituation}"></td>
						<td th:text="${bambino.comments}"></td>
						<td><a href="#" class="btn-floating deep-purple lighten-1"
							th:href="@{/users/editBambinoForm?bambinoId=__${bambino.bambinoId}__}">
							<i class="material-icons">edit</i>
							</a>
						</td>
						<td>
							<form method="post" action="#" th:action="@{/users/removeBambino}">
								<input type="hidden" name="bambinoId" th:value = "${bambino.bambinoId}"/>
								<button type="submit" class="btn-floating deep-purple lighten-1">
									<i class="material-icons">delete</i>
								</button>
							</form>
						</td>

					</tr>
				</tbody>
              </table>
			</div>

		</div>
		<div id="Contactos" class="container">
			<div class="row">
				<div class="col s10">
					<br />
					<h5>Contactos de emergencia</h5>
				</div>
				<div class="col s2">
					<br /> 
					<a id="editPerfil" th:href="@{/users/createcontactform}" 
					class="btn-floating deep-purple lighten-1 btn-large">
						<i class="material-icons">add</i>
					</a>
				</div>
			</div>
			<div class="row">
				<table
					class="bordedeep-purple lighten-1 highlight centelight-blue centered accent-4 responsive-table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Telefono</th>
							<th>Calle</th>
							<th>Colonia</th>
							<th>Estado</th>
							<th>Parentesco</th>
							<th>Editar</th>
							<th>Borrar</th>
						</tr>
					</thead>
                 <tbody>
					<tr th:each="contact : ${contacts}">
						<td th:text="${contact.firstname}"></td>
						<td th:text="${contact.lastname}"></td>
						<td th:text="${contact.phone}"></td>
						<td th:text="${contact.street}"></td>
						<td th:text="${contact.neighborhood}"></td>
						<td th:text="${contact.city}"></td>
						<td th:text="${contact.state}"></td>
						<td th:text="${contact.relationship}"></td>
						<td><a href="#" class="btn-floating deep-purple lighten-1"
							th:href="@{/users/editcontactForm?contactId=__${contact.contactId}__}">
							<i class="material-icons">edit</i>
							</a>
						</td>
						<td>
							<form method="post" action="#" th:action="@{/users/removeContact}">
								<input type="hidden" name="contactId" th:value = "${contact.contactId}"/>
								<button type="submit" class="btn-floating deep-purple lighten-1">
									<i class="material-icons">delete</i>
								</button>
							</form>
						</td>

					</tr>
				</tbody>
              </table>
			</div>
		</div>
	</div>

	<script src="
				../static/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}">
				</script>
	<script src="../static/js/materialize.js"
		th:src="@{/js/materialize.js}"></script>
	<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>

	<script th:inline="javascript">
	$(function() {
		  $('#error')
		    .show(1000, function() {
		      Materialize.toast([[${error}]],4000,'rounded waves-effect');
		    });
		  $('#success')
		    .show(1000, function() {
		      Materialize.toast([[${result}]],4000,'rounded waves-effect');
		    });
		  $('#failed')
		    .show(1000, function() {
		      Materialize.toast('Ocurrió un error al intentar registrar al usuario',4000, 'rounded waves-effect');
		    });
		});
	</script>
</body>
</html>
