<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"
	http-equiv="Content-Type" />
<meta charset="UTF-8" />

<title>BambinoCare</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<link type="text/css" rel="stylesheet"
	href="../static/css/materialize.min.css"
	th:href="@{/css/materialize.css}" media="screen,projection" />

<link href="../static/css/style.css" th:href="@{/css/style.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />

<link href="../static/css/wickedpicker.min.css"
	th:href="@{/css/wickedpicker.min.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />

</head>
<body>
	<header>
		<nav class="nav-extended deep-purple accent-1">
			<div
				th:include="/secure/client/fragments/header :: header(${usernameLogged})"></div>
		</nav>
	</header>

	<br />
	<br />
	<br />
	<div class="row container">
		<!--  -->
		<form id="bookingform" class="white pad" action="#"
			th:action="@{/users/createbooking}" th:object="${booking}"
			method="post" name="bookingform">
			<div class="center grey-text text-darken-3">
				<h5>Nueva Reservación</h5>
			</div>
			<div class="row">
				<div class="col s12">
					<label class="black-text" for="bookingtype">Tipo de
						Reservación</label> <select id="bookingtype"
						th:field="*{bookingType.bookingTypeId}">
						<option th:each="bookingType : ${bookingTypes}"
							th:value="${bookingType.bookingTypeId}"
							th:text="${bookingType.bookingTypeDesc}" value="${nametype}"
							th:async="true"></option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col s6">
					<label for="duration" class="black-text">Duracion</label> <input
						type="text" name="timepickerwicked"
						class="timepickerwicked validate black-text" id="duration"
						th:field="*{duration}" th:value="${duration}" required="required" />
				</div>
				<div class="col s3">
					<label for="Date" class="black-text">Fecha</label> <input id="Date"
						type="date" th:field="*{date}" th:value="${date}"
						class="datepicker" required="required" />
				</div>
				<div class="col s3">
					<label for="Hour" class="black-text">Hora</label> <input id="Hour"
						type="text" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}"
						th:field="*{hour}" th:value="${hour}" class="timepicker"
						required="required" />
				</div>
			</div>

			<div class="row">
				<div id="paymenttypeinfo" class="col s12">
					<label class="black-text" for="paymenttype">Forma de pago</label> <select
						id="paymenttype" th:field="*{paymentType.paymentTypeId}">
						<option th:each="paymentType : ${paymentTypes}"
							th:value="${paymentType.paymentTypeId}"
							th:text="${paymentType.paymentTypeDesc}" value="${nametype}"
							th:async="true"></option>
					</select>
				</div>
			</div>

			<div class="row">
				<div id="infobambinos" class="col s12 l5 offset-l3">
					<table
						class="bordedeep-purple lighten-1 highlight centelight-blue centered accent-4 responsive-table">
						<thead>
							<tr>
								<th></th>
								<th>Bambino</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="bambinoclient : ${allbambinos}">
								<td><input type="checkbox" class="filled-in"
									th:field="*{bambinoId}" th:value="${bambinoclient.bambinoId}"
									name="bambino" /> <label th:for="${#ids.prev('bambinoId')}"></label></td>
								<td
									th:text="${bambinoclient.firstname + ' ' + bambinoclient.lastname} "></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
			<div class="row">
				<div class="col s12 l4 offset-l5" id="cost"></div>
			</div>

			<div class="divider"></div>

			<div id="Tutorias">
				<div class="row">
					<div class="input-field col s6">
						<input id="Materia" type="text" class="validate black-text"
							th:field="*{tutory.course}"
							th:value="${tutory == null ? '' : tutory.course}" name="course" />
						<label for="Materia">Materia</label>
					</div>
					<div class="input-field col s6">
						<input id="Tema" type="text" class="validate black-text"
							th:field="*{tutory.topic}"
							th:value="${tutory == null ? '' : tutory.topic}" /> <label
							for="Tema">Tema</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="Observaciones" class="materialize-textarea"
							th:field="*{tutory.comments}"
							th:value="${tutory == null ? '' : tutory.comments}"
							data-length="120"></textarea>
						<label for="Observaciones">Observaciones</label>
					</div>
				</div>

			</div>

			<div id="Evento">
				<div class="row">
					<div class="col s6">
						<select id="bookingtype" th:field="*{bookingType.bookingTypeId}">
							<option th:each="eventType : ${eventTypes}"
								th:value="${eventType.eventTypeId}"
								th:text="${eventType.eventTypeDesc}" th:async="true"></option>
						</select> <label class="black-text" for="bookingtype">Tipo de
							Evento</label>
					</div>

					<div class="input-field col s4">
						<input id="NoBambino" type="text" class="validate black-text"
							th:field="*{event.bambinosNum}"
							th:value="${event == null ? '' : event.bambinosNum}" /> <label
							for="NoBambino">Numero de Bambinos</label>
					</div>
					<!-- div class="input-field col s4">
						<input id="edades" type="text" class="validate black-text"
							required="required" /> <label for="edades">Edades</label>
					</div-->
				</div>
				<div class="row">
					<div class="input-field col s3">
						<input id="street_num" type="text" class="validate black-text"
							th:field="*{event.street}"
							th:value="${event == null ? '' : event.street}" /> <label
							for="street_num">Calle - Numero</label>
					</div>
					<div class="input-field col s3">
						<input id="neighborhood" type="text" class="validate black-text"
							th:field="*{event.neighborhood}"
							th:value="${event == null ? '' : event.neighborhood}" /> <label
							for="neighborhood">Colonia</label>
					</div>
					<div class="input-field col s3">
						<input id="city" type="text" class="validate black-text"
							th:field="*{event.city}"
							th:value="${event == null ? '' : event.city}" /> <label
							for="city">Municipio</label>
					</div>
					<div class="input-field col s3">
						<input id="stage" type="text" class="validate black-text"
							th:field="*{event.state}"
							th:value="${event == null ? '' : event.state}" /> <label
							for="stage">Estado</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="Observaciones" class="materialize-textarea"
							data-length="120" th:field="*{event.comments}"
							th:value="${event == null ? '' : event.comments}"></textarea>
						<label for="Observaciones">Observaciones</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="right-align" style="">
					<a th:href="@{/users/cancel}"
						class="waves-effect waves-light btn deep-purple accent-2"
						id="cancelbutton"> Cancelar </a>


					<button class="btn waves-effect waves-light deep-purple accent-2"
						type="submit" name="action" id="sendbutton">Enviar</button>
				</div>
			</div>
		</form>

		<div th:if="${error != null}" id="error"></div>
		<div th:if="${result != null}" id="success"></div>
	</div>

	<div id="paymentmodal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<h4>Instrucciones para realizar el pago</h4>
				<p>Para realizar el pago, por favor acuda a la sucursal de Oxxo
					mas cercana con la siguiente información:</p>
				<p>Banco: Santander</p>
				<p>Movimiento: Déposito a tarjeta de Débito</p>
				<p>Nombre de Beneficiario: Erika Yaimeé Rodríguez Rodríguez</p>
				<p>Número de cuenta: 5579 1001 7184 6510</p>
				<p>Número de Referencia: 99999999999</p>
			</div>
			<div class="modal-footer">
				<a href="#!"
					class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
			</div>
		</div>
	</div>

	<!--  Scripts-->
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/materialize.js"
		th:src="@{/js/materialize.js}"></script>
	<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>
	<script src="../static/js/wickedpicker.min.js"
		th:src="@{/js/wickedpicker.min.js}"></script>

	<script th:inline="javascript">
	
	var options = {
		now: "00:00",
		twentyFour: false,
		title: "Seleccione duración",
		twentyFour: true
	};
	
	$('.timepickerwicked').wickedpicker(options);
	
	$(function() {
		 var totalCost = [[${totalCost}]];
		  var costs = [[${costs}]];
		  
		  if(!totalCost){
			  totalCost = 0.0;
		  }
		  
		  calculateCost();
		  
		  $('#error')
		    .show(1000, function() {
		      Materialize.toast([[${error}]],4000,'rounded waves-effect');
		    });
		  $('#success')
		    .show(1000, function() {
		      Materialize.toast([[${result}]],4000,'rounded waves-effect');
		    });
		  $('#bookingform').bind('submit', function (e) {
			    var sendbutton = $('#sendbutton');
			    var cancelbutton = $('#cancelbutton');
			    sendbutton.prop('disabled', true);
			    cancelbutton.addClass('disabled');
			});
		 
		  $("#duration, input[type='checkbox']")
		  	.change(function(){
		  		calculateCost();
		  		document.getElementById('cost').innerHTML = "<h5>Total: $" + totalCost + "</h5>";
		  	});
		  
		  /*
			EMPIEZA CALCULO DE COSTOS
			*/
			function calculateCost(bambinoQuantity) {
		  		var sum = 0;
		  		var duration = $("#duration");
		  		
		  		if(!bambinoQuantity){
		  			totalCost = 0;
			  		$( "input[type='checkbox']").each(function(checkbox) {
					  	if(this.checked){
							sum += 1;
					  	}
					});
		  		}else{
		  			sum = bambinoQuantity;
		  		}
		  		
		  		if(sum > 3){
		  			sum -= 3;
					totalCost += calculateCost(sum);
					sum = 3;
		  		}
		  		
		  			/*<![CDATA[*/
		  		var costsCurrent = [];
		  		for(var cost of costs){
		  			if(cost.bambinoQuantity == sum){
		  				costsCurrent.push(cost);
		  			}
		  		}
		  		
		  		for(var i = 0; i < costsCurrent.length; i++ ){
						var durationValue = duration[0].value.split(":")[0];		
						if(durationValue != "" && !isNaN(durationValue) && durationValue != 0){
			  				if(durationValue > costsCurrent[i].hourQuantity){
				  				continue;
			  				}else{
			  					
			  					if(durationValue == costsCurrent[i].hourQuantity){
			  						totalCost += costsCurrent[i].cost * durationValue;
			  					}else{
			  						totalCost += costsCurrent[i-1].cost * durationValue;
			  					}
			  					break;
			  				}
						}
		  		}/*]]>*/
		  		//document.getElementById('cost').innerHTML = "Total: $" + totalCost;
		  		return totalCost;
			}
		  
			$( "#bookingform" ).submit(function( event ) {
				  var duration = $("#duration");
				  var durationValue = duration[0].value.split(":");
				  var durationHour = parseFloat(durationValue[0]);
				  var durationMinute = parseFloat(durationValue[1]/60);
				  durationValue = durationHour + durationMinute;
				  console.log(`${durationHour}.${durationMinute} = ${durationValue}`);
				  $("#duration").val(durationValue);
				  
				  var paymenttype = $('#paymenttype option:selected').text();
				    
				  if(paymenttype != 'Paypal'){
				  	$('#paymentmodal').modal('open');
				  	event.preventDefault();
				  }
				  
			});

			$("#btn-confirm").click(function(){
				$('#paymentmodal').modal('close');
			});
			
		});
	
	
	</script>

</body>
</html>