<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1; text/html; charset=UTF-8"
	http-equiv="Content-Type" />

<title>BambinoCare</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<link type="text/css" rel="stylesheet"
	href="../static/css/materialize.min.css"
	th:href="@{/css/materialize.min.css}" media="screen,projection" />

<link href="../static/css/style.css" th:href="@{/css/style.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />

</head>
<body class="section1">
	<header>
		<nav class="nav-extended deep-purple accent-1">
			<div
				th:include="/secure/client/fragments/header :: header(${usernameLogged})"></div>
		</nav>
	</header>
	<div class="row"></div>
	<div class="row container">
		<form class="col s12 white pad z-depth-5" action="#"
			th:action="@{/users/newcontact}" th:object="${contact}" method="post"
			name="bambinoform">
			<div class="center grey-text text-darken-3">
				<h4>Nuevo Contacto de emergencia</h4>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<input id="nombre" type="text" class="validate black-text"
						required="required" th:value="${firstname}"
						th:field="*{firstname}" /> <label for="first_name">Nombre</label>
				</div>
				<div class="input-field col s4">
					<input id="last_name" type="text" class="validate black-text"
						required="required" th:value="${lastname}" th:field="*{lastname}" />
					<label for="last_name">Apellidos</label>
				</div>
				<div class="input-field col s4">
					<input id="phone" type="number" class="validate black-text"
						required="required" th:value="${phone}" th:field="*{phone}" /> <label
						for="phone">Telefono</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s3">
					<input id="street" type="text" class="validate black-text"
						required="required" th:value="${street}" th:field="*{street}" />
					<label for="street">Calle/numero</label>
				</div>
				<div class="input-field col s3">
					<input id="neighborhood" type="text" class="validate black-text"
						required="required" th:value="${neighborhood}"
						th:field="*{neighborhood}" /> <label for="neighborhood">Colonia</label>
				</div>
				<div class="input-field col s3">
					<input id="city" type="text" class="validate black-text"
						required="required" th:value="${city}" th:field="*{city}" /> <label
						for="city">Municipio</label>
				</div>
				<div class="input-field col s3">
					<input id="state" type="text" class="validate black-text"
						required="required" th:value="${state}" th:field="*{state}" /> <label
						for="state">Estado</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4">
					<input id="relationship" type="text" class="validate black-text"
						required="required" th:value="${relationship}"
						th:field="*{relationship}" /> <label for="relationship">Prentesco</label>
				</div>
				<div class="right-align">
					<a th:href="@{/users/cancel}"
						class="waves-effect waves-light btn deep-purple accent-2">
						Cancelar </a>
					<button class="btn waves-effect waves-light deep-purple accent-2"
						type="submit" name="action">Enviar</button>
				</div>
			</div>
		</form>

		<div id="result" th:if="${result != null}"></div>
	</div>
	
	<div th:include="/secure/fragments/modal :: modal(${result})"></div>
	<!--  Scripts-->
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/materialize.js"
		th:src="@{/js/materialize.js}"></script>
	<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>
	<script src="../static/js/initmodal.js" th:src="@{/js/initmodal.js}"></script>

</body>
</html>
