<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<title>BamnbinoCare</title>
<link type="text/css" rel="stylesheet"
	href="../static/css/materialize.min.css"
	th:href="@{/css/materialize.min.css}" media="screen,projection" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<header>
		<nav class="nav-extended deep-purple accent-1">
			<div th:include="/secure/admin/fragments/header :: header(${usernameLogged})"></div>
			<div class="nav-content">
			<ul class="tabs tabs-transparent">
				<li class="tab"><a class="active" href="#Reservaciones">Administrar Reservaciones</a></li>
				<!--<li class="tab"><a href="#Usuarios">Usuarios</a></li>-->
				<li class="tab"><a href="#Nannies">Nannies</a></li>
				<li class="tab"><a href="#MiPerfil">Mi Perfil</a></li>
			</ul>
		</div>
		</nav>
	</header>

	<div id="Reservaciones" class="col s12">
		<div class="row">
			<div class="col s12 center">
				<h4>Administrar Reservaciones</h4>
			</div>
		</div>

		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<table
					class="bordedeep-purple lighten-1 highlight centelight-blue centered accent-4 responsive-table">
					<thead>
						<tr>
							<th>Reservacion</th>
							<th>Cliente</th>
							<th>Fecha</th>
							<th>Hora</th>
							<th>Tipo</th>
							<th>Estatus</th>
							<th colspan="2">Aprobar/Rechazar</th>
							<th>Nanny</th>
							<th>Duración</th>
							<th>Costo</th>
							<th>Editar</th>
							<th>Borrar</th>
						</tr>
					</thead>

					<tbody>

						<tr th:each="booking : ${bookings}">
							<td>
								<form th:action="@{/admin/showbookingdetail}" method="POST">
									<input type="hidden" name="bookingId"
										th:value="${booking.bookingId}" />
									<button type="submit"
										class="btn-floating deep-purple lighten-1">
										<i class="material-icons">event_note</i>
									</button>
								</form>
							</td>
							<td
								th:text="${booking.client == null ? '' : booking.client.user.firstname} "></td>
							<td th:text="${booking.date}"></td>
							<td th:text="${booking.hour}"></td>
							<td
								th:text="${booking.bookingType == null ? '' : booking.bookingType.bookingTypeDesc}"></td>
							<td
								th:text="${booking.bookingStatus == null ? '' : booking.bookingStatus.bookingStatusDesc}"></td>
							<td>

								<form th:action="@{/admin/approvebooking}" method="post">
									<input type="hidden" name="bookingId"
										th:value="${booking.bookingId}" />
									<button type="submit"
										class="btn-floating deep-purple lighten-1"
										th:classappend="${booking.bookingStatus.bookingStatusDesc != 'Abierta'} ? 'disabled'">
										<i class="material-icons">check</i>
									</button>
								</form>
							</td>
							<td>

								<form th:action="@{/admin/rejectbooking}" method="post">
									<input type="hidden" name="bookingId"
										th:value="${booking.bookingId}" />
									<button type="submit"
										class="btn-floating deep-purple lighten-1"
										th:classappend="${booking.bookingStatus.bookingStatusDesc != 'Abierta'} ? 'disabled'">
										<i class="material-icons">clear</i>
									</button>
								</form>


							</td>
							<td
								th:text="${booking.nanny == null ? '' : booking.nanny.user.firstname}"></td>
							<td th:text="${booking.duration}"></td>
							<td th:text="${booking.cost}"></td>
							<td><a href="#" class="btn-floating deep-purple lighten-1"
								th:href="@{/admin/editbookingform?bookingId=__${booking.bookingId}__}">
									<i class="material-icons">edit</i>
							</a></td>
							<td><form th:action="@{/admin/cancelbooking}" method="post">
									<input type="hidden" name="bookingId"
										th:value="${booking.bookingId}" />
									<button type="submit"
										class="btn-floating deep-purple lighten-1">
										<i class="material-icons">delete</i>
									</button>
								</form></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col s1"></div>
			<div th:if="${error != null}" id="error"></div>
			<div th:if="${result != null}" id="success"></div>
		</div>
	</div>
	<!-- Nannies  -->
	<div id="Nannies" class="container transadmin">
		<div class="row">
			<div class="col s2"></div>
			<div class="col s8 center">
				<h4>Nannies</h4>
			</div>
			<div class="col s2">
				<br /> <a href="#" th:href="@{/admin/createNannyForm}"
						class="btn-floating deep-purple lighten-1 btn-large"><i
						class="material-icons">add</i></a>
			</div>
		</div>

		<div class="row">
			<div class="col s1"></div>
			<div class="col s10">
				<table
					class="bordedeep-purple lighten-1 highlight centelight-blue centered accent-4 responsive-table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Telefono</th>
							<th>Email</th>
							<th>Dirrección</th>
							<th>Estatus</th>
							<th>Editar</th>
							<th>Borrar</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="nanny : ${nannies}">
							<td th:text="${nanny == null ? '' : nanny.user.firstname + ' ' + nanny.user.lastname}"></td>
							<td th:text="${nanny.user.phone}"></td>
							<td th:text="${nanny.user.email}"></td>
							<td th:text="${nanny.street + ', ' + nanny.neighborhood + ', ' + nanny.city + ', ' + nanny.state}"></td>
							<td th:text="${nanny.user.enabled == false ? 'deshabilitado' : 'habilitado'}"></td>
							<td><a href="#" class="btn-floating deep-purple lighten-1"
									th:href="@{/admin/editnannyform?nannyId=__${nanny.nannyId}__}">
										<i class="material-icons">edit</i>
								</a></td>
							<td><a href="#" class="btn-floating deep-purple lighten-1"
									th:href="@{/admin/disableNanny?nannyId=__${nanny.nannyId}__}">
										<i class="material-icons">delete</i>
								</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col s1"></div>
		</div>
	</div>

	<!-- User Profile -->
	<div id="MiPerfil" class="container">
		<div class="row">
			<div class="col s10">
				<br />
				<h5>Datos Personales</h5>
			</div>
			<div class="col s2">
				<br /> <a id="editPerfil"
					class="btn-floating deep-purple lighten-1 btn-large"><i
					class="material-icons">edit</i></a>
			</div>
		</div>

		<div class="row">
			<form class="col s12 white" th:action="@{/users/edituser}"
				method="post" name="bookingform">
				<div class="row">
					<div class="input-field col s6">
						<input id="nombre" type="text" class="validate black-text"
							required="required" disabled="disabled" /> <label
							for="first_name">Nombre</label>
					</div>
					<div class="input-field col s6">
						<input id="last_name" type="text" class="validate black-text"
							required="required" disabled="disabled" /> <label
							for="last_name">Apellidos</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s3">
						<input id="street_num" type="text" class="validate black-text"
							required="required" disabled="disabled" /> <label
							for="street_num">Calle - Numero</label>
					</div>
					<div class="input-field col s3">
						<input id="neighborhood" type="text" class="validate black-text"
							required="required" disabled="disabled" /> <label
							for="neighborhood">Colonia</label>
					</div>
					<div class="input-field col s3">
						<input id="city" type="text" class="validate black-text"
							required="required" disabled="disabled" /> <label for="city">Municipio</label>
					</div>
					<div class="input-field col s3">
						<input id="state" type="text" class="validate black-text"
							required="required" disabled="disabled" /> <label for="state">Estado</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4">
						<input id="job" type="text" class="validate black-text"
							required="required" disabled="disabled" /> <label for="job">Ocupación</label>
					</div>
					<div class="input-field col s4">
						<input id="phone" type="number" class="validate black-text"
							required="required" disabled="disabled" /> <label
							for="phone">Telefono</label>
					</div>
					<div class="input-field col s4">
						<input id="email" type="email" class="validate black-text"
							required="required" disabled="disabled" /> <label for="email">Email</label>
					</div>
				</div>
				<div class="row rigth-align">
					<button id="cancel"
						class="btn waves-effect waves-light deep-purple lighten-1 blk">Cancelar</button>
					<button id="save"
						class="btn waves-effect waves-light deep-purple lighten-1 blk"
						type="submit" name="action">Guardar</button>
				</div>
			</form>
		</div>
	</div>


	<script src="
				../static/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}">
				</script>
	<script src="../static/js/materialize.js"
		th:src="@{/js/materialize.js}"></script>
	<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>
	<script th:inline="javascript">
     $(document).ready(function(){
       $('.modal').modal();
     });

 	
	$(function() {
		  $('#error')
		    .show(1000, function() {
		      Materialize.toast([[${error}]],4000,'rounded waves-effect');
		    });
		  $('#success')
		    .show(1000, function() {
		      Materialize.toast([[${result}]],4000,'rounded waves-effect');
		    });
		});
     </script>

</body>
</html>
