<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1; text/html; charset=UTF-8"
	http-equiv="Content-Type" />

<title>BambinoCare</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<link type="text/css" rel="stylesheet"
	href="../static/css/materialize.min.css"
	th:href="@{/css/materialize.min.css}" media="screen,projection" />

<link href="../static/css/style.css" th:href="@{/css/style.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />

</head>
<body>
	<header>
		<nav class="nav-extended deep-purple accent-1">
			<div
				th:include="/secure/admin/fragments/header :: header(${usernameLogged})"></div>
		</nav>
	</header>
	<div class="row container">
		<form id="bookingform" class="white pad" action="#" th:action="@{/admin/editbooking}"
			th:object="${booking}" method="post" name="bookingform">
			<div class="center grey-text text-darken-3">
				<h5>Editar Reservación</h5>
			</div>
			<input type="hidden" th:value="${bookingId}" th:field="*{bookingId}" />
			<div class="row">
				<div class="col s6">
					<select id="bookingtype" th:field="*{bookingType.bookingTypeId}"
						disabled="disabled">
						<option th:each="bookingType : ${bookingTypes}"
							th:value="${bookingType.bookingTypeId}"
							th:text="${bookingType.bookingTypeDesc}" value="${nametype}"
							th:async="true"></option>
					</select> <label class="black-text" for="bookingtype">Tipo de
						Reservación</label>
				</div>
			</div>

			<div class="row">
				<div class="col s6">
					<label for="duration" class="black-text">Duración</label> <input
						id="duration" type="number" class="validate black-text"
						th:field="*{duration}" th:value="${duration}" required="required" />
				</div>
				<div class="col s3">
					<label for="Date" class="black-text">Fecha</label> <input id="Date"
						type="date" th:field="*{date}" th:value="${date}"
						class="datepicker" required="required" />
				</div>
				<div class="col s3">
					<label for="Date" class="black-text">Hora</label> <input id="Hour"
						type="text" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}"
						th:field="*{hour}" th:value="${hour}" class="timepicker"
						required="required" />
				</div>
			</div>

			<div class="divider"></div>

			<div id="Tutorias">
				<div class="row">
					<div class="input-field col s6">
						<input id="Materia" type="text" class="validate black-text"
							th:field="*{tutory.course}"
							th:value="${tutory == null ? '' : tutory.course}" name="course" />
						<label for="Materia">Materia</label>
					</div>
					<div class="input-field col s6">
						<input id="Tema" type="text" class="validate black-text"
							th:field="*{tutory.topic}"
							th:value="${tutory == null ? '' : tutory.topic}" /> <label
							for="Tema">Tema</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="Observaciones" class="materialize-textarea"
							th:field="*{tutory.comments}"
							th:value="${tutory == null ? '' : tutory.comments}"
							data-length="120"></textarea>
						<label for="Observaciones">Observaciones</label>
					</div>
				</div>
			</div>

			<div id="Evento">
				<div class="row">
					<div class="col s6">
						<select id="bookingtype" th:field="*{bookingType.bookingTypeId}">
							<option th:each="eventType : ${eventTypes}"
								th:value="${eventType.eventTypeId}"
								th:text="${eventType.eventTypeDesc}" th:async="true"></option>
						</select> <label class="black-text" for="bookingtype">Tipo de
							Evento</label>
					</div>

					<div class="input-field col s4">
						<input id="NoBambino" type="text" class="validate black-text"
							th:field="*{event.bambinosNum}"
							th:value="${event == null ? '' : event.bambinosNum}" /> <label
							for="NoBambino">Numero de Bambinos</label>
					</div>
					<!-- div class="input-field col s4">
						<input id="edades" type="text" class="validate black-text"
							required="required" /> <label for="edades">Edades</label>
					</div-->
				</div>
				<div class="row">
					<div class="input-field col s3">
						<input id="street_num" type="text" class="validate black-text"
							th:field="*{event.street}"
							th:value="${event == null ? '' : event.street}" /> <label
							for="street_num">Calle - Numero</label>
					</div>
					<div class="input-field col s3">
						<input id="neighborhood" type="text" class="validate black-text"
							th:field="*{event.neighborhood}"
							th:value="${event == null ? '' : event.neighborhood}" /> <label
							for="neighborhood">Colonia</label>
					</div>
					<div class="input-field col s3">
						<input id="city" type="text" class="validate black-text"
							th:field="*{event.city}"
							th:value="${event == null ? '' : event.city}" /> <label
							for="city">Municipio</label>
					</div>
					<div class="input-field col s3">
						<input id="stage" type="text" class="validate black-text"
							th:field="*{event.state}"
							th:value="${event == null ? '' : event.state}" /> <label
							for="stage">Estado</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="Observaciones" class="materialize-textarea"
							data-length="120" th:field="*{event.comments}"
							th:value="${event == null ? '' : event.comments}"></textarea>
						<label for="Observaciones">Observaciones</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="right-align" style="">
					<a id="cancelbutton" th:href="@{/admin/cancel}"
						class="waves-effect waves-light btn deep-purple accent-2">
						Cancelar </a>


					<button id="sendbutton" class="btn waves-effect waves-light deep-purple accent-2"
						type="submit" name="action">Enviar</button>
				</div>
			</div>
		</form>
		<div th:if="${error != null}" id="error"></div>
		<div th:if="${result != null}" id="result"></div>
	</div>

	<!--  Scripts-->
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/materialize.js"
		th:src="@{/js/materialize.js}"></script>
	<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>

	<script th:inline="javascript">
	$(function() {
		  $('#error')
		    .show(1000, function() {
		      Materialize.toast([[${error}]],4000,'rounded waves-effect');
		    });
		  $('#success')
		    .show(1000, function() {
		      Materialize.toast([[${result}]],4000,'rounded waves-effect');
		    });
		  $('#failed')
		    .show(1000, function() {
		      Materialize.toast('Ocurrió un error al intentar registrar al usuario',4000, 'rounded waves-effect');
		    });

		  $('#bookingform').bind('submit', function (e) {
			  	console.log('Entra');
			    var sendbutton = $('#sendbutton');
			    var cancelbutton = $('#cancelbutton');

			    sendbutton.prop('disabled', true);
			    cancelbutton.addClass('disabled');
			});
		});
	</script>

</body>
</html>
