<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1; text/html; charset=UTF-8"
	http-equiv="Content-Type" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>BambinoCare</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<link type="text/css" rel="stylesheet"
	href="../static/css/materialize.min.css"
	th:href="@{/css/materialize.css}" media="screen,projection" />

<link href="../static/css/style.css" th:href="@{/css/style.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />

<link href="../static/css/wickedpicker.min.css"
	th:href="@{/css/wickedpicker.min.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body class="section1">
	<header>
		<nav class="nav-extended deep-purple accent-1">
			<div
				th:include="/secure/admin/fragments/header :: header(${usernameLogged})"></div>
		</nav>
	</header>
	<div class="row container">
		<div class="row"></div>
		<form id="bookingform" class="white pad z-depth-5" action="#"
			th:action="@{/admin/editbooking}" th:object="${booking}"
			method="post" name="bookingform">
			<div class="center grey-text text-darken-3">
				<h4>Editar Reservación</h4>
			</div>
			<input type="hidden" th:value="${bookingId}" th:field="*{bookingId}" />
			<div class="row">
				<div class="col s6">
					<select id="bookingtype" th:field="*{bookingType.bookingTypeId}"
						disabled="disabled">
						<option th:each="bookingType : ${bookingTypes}"
							th:value="${bookingType.bookingTypeId}"
							th:text="${bookingType.bookingTypeDesc}" value="${nametype}"
							th:async="true"></option>
					</select> <label class="black-text" for="bookingtype">Tipo de
						Reservación</label>
				</div>
			</div>

			<div class="row">
				<div class="col s6">
					<label for="duration" class="black-text">Duracion</label> <input
						type="text" name="timepickerwicked"
						class="timepickerwicked validate black-text" id="duration"
						th:field="*{duration}" th:value="${duration}" required="required" />
				</div>
				<div class="col s3">
					<label for="Date" class="black-text">Fecha</label> <input id="Date"
						type="date" th:field="*{date}" th:value="${date}"
						class="datepicker" required="required" />
				</div>
				<div class="col s3">
					<label for="Date" class="black-text">Hora</label> <input id="Hour"
						type="text" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}"
						th:field="*{hour}" th:value="${hour}" class="timepicker"
						required="required" />
				</div>
			</div>

			<div class="row">
				<div class="col s12">
					<label for="nanny" class="black-text">Nombre de la
						Bambinaia</label> <input id="nanny" type="text"
						class="validate black-text"
						th:attr="value=*{nanny == null ? 'No hay Bambinaia asignada' : nanny.user.firstname + ' ' + nanny.user.lastname}"
						disabled="disabled" />
				</div>
			</div>

			<div id="tutory">
				<div class="divider"></div>
				<div class="row">
					<h5>Información del servicio</h5>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="Materia" type="text" class="validate black-text"
							th:field="*{tutory.course}"
							th:value="${tutory == null ? '' : tutory.course}" name="course" />
						<label for="Materia">Materia</label>
					</div>
					<div class="input-field col s6">
						<input id="Tema" type="text" class="validate black-text"
							th:field="*{tutory.topic}"
							th:value="${tutory == null ? '' : tutory.topic}" /> <label
							for="Tema">Tema</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="Observaciones" class="materialize-textarea"
							th:field="*{tutory.comments}"
							th:value="${tutory == null ? '' : tutory.comments}"
							data-length="120"></textarea>
						<label for="Observaciones">Observaciones</label>
					</div>
				</div>
			</div>

			<div id="event">
				<div class="divider"></div>
				<div class="row">
					<h5>Información del evento</h5>
				</div>
				<div class="row">
					<div class="col s12">
						<select id="bookingtype" th:field="*{bookingType.bookingTypeId}">
							<option th:each="eventType : ${eventTypes}"
								th:value="${eventType.eventTypeId}"
								th:text="${eventType.eventTypeDesc}" th:async="true"></option>
						</select> <label class="black-text" for="bookingtype">Tipo de
							Evento</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="bambinosqty" type="number" class="validate black-text"
							th:field="*{event.bambinosQty}"
							th:value="${event == null ? '' : event.bambinosQty}" /> <label
							for="bambinosqty">Número de Bambinos</label>
					</div>
					<div class="input-field col s6">
						<input id="age" type="text" class="validate black-text"
							th:field="*{event.age}"
							th:value="${event == null ? '' : event.age}" /> <label for="age">Edades</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s3">
						<input id="street_num" type="text" class="validate black-text"
							th:field="*{event.street}"
							th:value="${event == null ? '' : event.street}" /> <label
							for="street_num">Calle - Numero</label>
					</div>
					<div class="input-field col s3">
						<input id="neighborhood" type="text" class="validate black-text"
							th:field="*{event.neighborhood}"
							th:value="${event == null ? '' : event.neighborhood}" /> <label
							for="neighborhood">Colonia</label>
					</div>
					<div class="input-field col s3">
						<input id="city" type="text" class="validate black-text"
							th:field="*{event.city}"
							th:value="${event == null ? '' : event.city}" /> <label
							for="city">Municipio</label>
					</div>
					<div class="input-field col s3">
						<input id="stage" type="text" class="validate black-text"
							th:field="*{event.state}"
							th:value="${event == null ? '' : event.state}" /> <label
							for="stage">Estado</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="Observaciones" class="materialize-textarea"
							data-length="120" th:field="*{event.comments}"
							th:value="${event == null ? '' : event.comments}"></textarea>
						<label for="Observaciones">Observaciones</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div id="infobambinos" class="col s12 l5 offset-l3">
					<table
						class="bordedeep-purple lighten-1 highlight centelight-blue centered accent-4 responsive-table">
						<thead>
							<tr>
								<th></th>
								<th>Bambino</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="bambinoclient : ${allbambinos}">
								<td><input type="checkbox" class="filled-in"
									th:field="*{bambinoId}" th:value="${bambinoclient.bambinoId}"
									name="bambino" /> <label th:for="${#ids.prev('bambinoId')}"></label></td>
								<td
									th:text="${bambinoclient.firstname + ' ' + bambinoclient.lastname} "></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

			<div class="row">
				<div class="col s12 l4 offset-l5" id="cost"></div>
			</div>

			<div class="row">
				<div class="right-align" style="">
					<a id="cancelbutton" th:href="@{/admin/cancel}"
						class="waves-effect waves-light btn deep-purple accent-2">
						Cancelar </a>


					<button id="sendbutton"
						class="btn waves-effect waves-light deep-purple accent-2"
						type="submit" name="action">Enviar</button>
				</div>
			</div>
		</form>
		<div th:if="${result != null}" id="result"></div>
	</div>

	<div th:include="/secure/fragments/modal :: modal(${result})"></div>
	<!--  Scripts-->
	<script src="../static/js/jquery-3.2.1.min.js"
		th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="../static/js/materialize.js"
		th:src="@{/js/materialize.js}"></script>
	<script src="../static/js/init.js" th:src="@{/js/init.js}"></script>
	<script src="../static/js/initmodal.js" th:src="@{/js/initmodal.js}"></script>
	<script src="../static/js/wickedpicker.min.js"
		th:src="@{/js/wickedpicker.min.js}"></script>
	<script src="../static/js/modules/booking.js"
		th:src="@{/js/modules/booking.js}"></script>

	<script th:inline="javascript">
	var options = {
			now: "00:00",
			twentyFour: false,
			title: "Seleccione duración",
			twentyFour: true
		};
		
		$('.timepickerwicked').wickedpicker(options);
	var perfil = 'admin';
	var totalCost = [[${totalCost}]];
	$(function() {
		var totalCost = [[${totalCost}]];
		  var costs = [[${costs}]];
		  /*<![CDATA[*/
		  var originalDuration = $("#duration")[0].defaultValue.split(".");
		  console.log(originalDuration);
		  var originalHour = originalDuration[0];
		  var originalMinute = originalDuration[1];
		  
		  if(originalHour < 10){
			  originalHour = "0" + originalHour;
		  }
		  
		  originalMinute *= 60;
		  
		  if(originalMinute < 10){
			  originalMinute = "0" + originalMinute;
		  }
		  
		  
		  originalDuration = originalHour + " : " + originalMinute ; 
		  
		  
		  document.getElementById("duration").value = originalDuration;
			  
		  if(!totalCost){
			  totalCost = 0.0;
		  }
		  /*]]>*/
		  document.getElementById('cost').innerHTML = "<h5>Total: $" + totalCost + "</h5>";
		  $('#bookingform').bind('submit', function (e) {
			  	console.log('Entra');
			    var sendbutton = $('#sendbutton');
			    var cancelbutton = $('#cancelbutton');

			    sendbutton.prop('disabled', true);
			    cancelbutton.addClass('disabled');
			});
		  
		  /*
			EMPIEZA CALCULO DE COSTOS
			*/
		  $("#duration, input[type='checkbox']")
		  	.change(function() {
		  		calculateCost();
		  		document.getElementById('cost').innerHTML = "Total: $" + totalCost;
			});
		  
		  /*
			EMPIEZA CALCULO DE COSTOS
			*/
			function calculateCost(bambinoQuantity) {
			  console.log("Entra");
		  		var sum = 0;
		  		var duration = $("#duration")
		  		if(!bambinoQuantity){
		  			totalCost = 0;
			  		$( "input[type='checkbox']").each(function(checkbox) {
					  	if(this.checked){
							sum += 1;
					  	}
					});
		  		}else{
		  			sum = bambinoQuantity;
		  		}
		  		
		  		if(sum > 3){
		  			console.log("Entra con: " + totalCost);
		  			sum -= 3;
					totalCost += calculateCost(sum);
					sum = 3;
		  		}
		  		
		  			/*<![CDATA[*/
		  		var costsCurrent = [];
		  		for(var cost of costs){
		  			if(cost.bambinoQuantity == sum){
		  				costsCurrent.push(cost);
		  			}
		  		}
		  		
		  		for(var i = 0; i < costsCurrent.length; i++ ){
		  			var durationValue = duration[0].value.split(":");
					  var durationHour = parseFloat(durationValue[0]);
					  var durationMinute = parseFloat(durationValue[1]/60);
					  durationValue = durationHour + durationMinute;	
						
						if(durationValue != "" && !isNaN(durationValue) && durationValue != 0){
			  				if(durationValue > costsCurrent[i].hourQuantity){
				  				continue;
			  				}else{
			  					
			  					if(durationValue == costsCurrent[i].hourQuantity){
			  						totalCost += costsCurrent[i].cost * durationValue;
			  					}else{
			  						totalCost += costsCurrent[i-1].cost * durationValue;
			  					}
			  					break;
			  				}
						}
		  		}/*]]>*/
		  		//document.getElementById('cost').innerHTML = "Total: $" + totalCost;
		  		return totalCost;
			}
		  
			$( "#bookingform" ).submit(function( event ) {
				  var duration = $("#duration");
				  var durationValue = duration[0].value.split(":");
				  var durationHour = parseFloat(durationValue[0]);
				  var durationMinute = parseFloat(durationValue[1]/60);
				  durationValue = durationHour + durationMinute;
				  console.log(`${durationHour}.${durationMinute} = ${durationValue}`);
				  $("#duration").val(durationValue);
			});
		});
	</script>

</body>
</html>
