/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html {
	font-family: sans-serif;
}

.blk {
	display: inline;
}

.posi {
	position: absolute;
}

.hr {
	min-height: 80px;
}

p {
	line-height: 2rem;
}

.button-collapse {
	color: white;
}

body {
	background-color: white;
}

.pad {
	padding: 20px;
}

.section1 {
	height: 100%;
	width: 100%;
	background: url("../img/BkgHome.jpg");
}

#sidenav-overlay {
	z-index: -1;
}

.transhome {
	background-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width : 992px) {
	.parallax-container .section {
		/* position: absolute; */
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width : 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

/*Class for when element is above threshold*/
.pin-top {
	position: relative;
}

/*Class for when element is below threshold*/
.pin-bottom {
	position: relative;
}

/* Class for when element is pinned¨*/
.pinned {
	position: fixed;
}

.checkbox-purple[type="checkbox"].filled-in:checked+label:after {
	border: 2px solid #9C27B0;
	background-color: #9C27B0;
}

.listcare {
	list-style-type: square;
}

#pcenter {
	text-align: center;
}

.slides {
	height: 90vh !important;
	width: 100%
}

.slider {
	height: 90vh !important;
}

.indicators {
	position: absoulute;
	z-index: 5;
}

.input-field input:focus+label {
	color: #7c4dff !important;
}

/* label underline focus color */
.input-field input:focus {
	border-bottom: 1px solid #7c4dff !important;
	box-shadow: 0 1px 0 0 #7c4dff !important;
}

.dropdown-content li > a, .dropdown-content li > span{
	color: #7c4dff
}

.slideimg{
	opacity: 0.8
}